/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Graceful Orbit Loading State
:: Orbit navigation appear on hover
:: News Feed
*/
body{


/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #F2E1C2 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #F2E1C2 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #F2E1C2 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #F2E1C2));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #F2E1C2 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFFFFF 0%, #F2E1C2 100%);

}


/* -----------------------------------------
   Graceful Orbit Loading State
----------------------------------------- */
#featured { background: url(spinner.gif) center center #f4f4f4; height: 300px; }
#featured img { display: none; }
#featured.orbit { background: none; }
#featured.orbit img { display: block; }



/* -----------------------------------------
   Orbit navigation appear on hover
----------------------------------------- */

.orbit-wrapper .slider-nav span { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: opacity 400ms; -moz-transition: opacity 400ms; -o-transition: opacity 400ms; transition: opacity 400ms; }
.orbit-wrapper:hover .slider-nav span { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }


/* -----------------------------------------
   News Feed
----------------------------------------- */
#news .rssBody ul {
    margin:0px;
    padding:0px;
}

#news .rssBody ul li{
    list-style:none;
}

#news .rssBody ul li h4{
    margin-bottom:10px;
    font-size: 13px;
}

#news .rssBody ul li div{
    font-size:10px;
    font-weight:bold;
}

#news .rssBody ul li h4 a {
    font-family: 'Ubuntu', sans-serif;
    text-decoration:none;
}

#news {
    font-family: 'Ubuntu', sans-serif;
    padding-left:10px;
} 

a:hover {
    color: rgb(4, 177, 216);
    text-decoration:none;
    text-shadow: 0px 0px 0.3px;
}
a {
    color: rgb(3, 136, 166);
    text-decoration: none;
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    transition-property: color;
    transition-duration: 0.3s;

}
